
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Inferno Studio</title>
    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
    <script>
      // Create WebSocket connection.
      const socket = new WebSocket('ws://localhost:9090');
      // Connection opened
      socket.addEventListener('open', function (event) {
          socket.send('Hello Server!');
      });
      // Listen for messages
      socket.addEventListener('message', function (event) {
      console.log('Message from server ', event.data);
      });
    </script>
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Inferno Studios</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="http://localhost:10000/">Home</a>
            <a class="nav-link" href="http://localhost:10000/">Products</a>
            <a class="nav-link" href="http://localhost:10000/">Contact</a>
            <a class="nav-link" href="http://localhost:10000/login">Login</a>
          </nav>
        </div>
      </header>
      <%if(tab == undefined || tab === "Home"){%>      
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Looking to automate your Business!!</h1>
            <p class="lead">Your at right place. We at Inferno Studios build the most reliable and robust business solutions.</p>
            <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
            </p>
        </main>
      <%} else if(tab === "Products"){%>
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Looking to automate your Business!!</h1>
            <p class="lead">Your at right place. We at Inferno Studios build the most reliable and robust business solutions.</p>
            <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
            </p>
        </main>
      <%} else if(tab === "Contact"){%>
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Looking to automate your Business!!</h1>
            <p class="lead">Your at right place. We at Inferno Studios build the most reliable and robust business solutions.</p>
            <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary">Learn more</a>  
            </p>
        </main>
      <%}%>
      <footer class="mastfoot mt-auto">
        <div class="inner">
         <!-- <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p> -->
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="jquery-slim.min.js"><\/script>')</script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>
  </body>
</html>
